.cartContainer {
  background: white;
  width: 70%;
  // padding-top: 85px;
  padding: 5px 10px 0px;
  min-width: 250px;
  height: 100%;
  position: fixed;
  box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.15);

  .columnHeaders {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9em;
    color: var(--main-grey);
  }
}
